<div class="SCContainer">
  <div><h1 style="display: inline; margin:10px;">EDITAR PRECIOS</h1></div>
  <h5 class="ms-2">SOLO PUEDE EDITAR PRECIO Y CATEGORÍA</h5>
<hr>
  <div class="col">
    <button mat-raised-button type="button" routerLink="/admin/prods" color="accent">Volver</button>
  </div>

  <div class="admin-prods-form" *ngFor="let product of filteredProducts; index as i;">

    <form #f="ngForm" (ngSubmit)="saveProd(f.value, product)">
      <mat-form-field appearance="legacy" style="width:25vw;min-width:320px;margin-right: 10px; ">
        <input #title="ngModel" matInput [(ngModel)]="product.payload.val().title" name="title" placeholder="" readonly>
        <mat-hint>Producto</mat-hint>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">El nombre es obligatorio</div>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width:5vw;min-width:63px;">
        <input #buyPrice="ngModel" matInput [(ngModel)]="product.payload.val().buyPrice" name="buyPrice" placeholder="" required [min]="0">
        <div class="alert alert-danger" *ngIf="buyPrice.touched && buyPrice.invalid">
          <div *ngIf="buyPrice.errors?.required">Price is required</div>
          <div *ngIf="buyPrice.errors?.min">Precio inválido. Dede usar punto en vez de coma.</div>
        </div>
        <mat-hint>Precio de compra($)</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width:5vw;min-width:80px;">
        <mat-label>Categorias</mat-label>
        <mat-select #prodsCategory="ngModel" [(ngModel)]="product.payload.val().prodsCategory" name="prodsCategory" required>
          <mat-option *ngFor="let c of prodsCategories" [value]="c.payload.val().name">
            {{c.payload.val().name}}
          </mat-option>
        </mat-select>
        <div class="alert alert-danger" *ngIf="prodsCategory.touched && prodsCategory.invalid">Category is required</div>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" [disabled]="!f.valid">Guardar</button>
      <button (click)="delete(product.key)" mat-raised-button type="button" color="warn">Eliminar</button>
      <span *ngIf="!f.valid">&nbsp;&nbsp;ERROR: hay datos inválidos! recuerde usar punto en vez de coma para los decimales</span>
    </form>
  </div>
</div>
