<div class="SCContainer" *ngIf="appUser">
  <div style="margin-bottom:20px;margin-top:20px;margin-left:20px;">
    <h1>Mis Clientes</h1>
    <h3>*IMPORTANTE: si la deuda es negativa el cliente tiene saldo a favor</h3>
    <div>
      <table><tr>
        <td>
          <mat-icon matSuffix>search</mat-icon>
        </td>
        <td>
          <input matInput #query (keyup)="filter(query.value)" type="text" placeholder="buscar por cliente...">
        </td>
      </tr></table>
    </div>

    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="businessName">Razón social</th>
        <th mat-sort-header="fantasyName">Nombre de Fantasía</th>
        <th mat-sort-header="address">Dirección</th>
        <th mat-sort-header="phone">Teléfono</th>
        <th mat-sort-header="debt">Deuda*</th>
      </tr>

      <tr *ngFor="let client of filteredClients; let i = index">
        <td>{{client.payload.val().businessName}}&nbsp;&nbsp;</td>
        <td>{{client.payload.val().fantasyName}}&nbsp;&nbsp;</td>
        <td>{{client.payload.val().address}}&nbsp;&nbsp;</td>
        <td>{{client.payload.val().phone}}&nbsp;&nbsp;</td>
        <td>{{client.payload.val().debt | number:'1.1-1'}}</td>
        <td><a style="margin-left:10px;" mat-icon-button routerLink="/payments/payments" (click) ="searchPayments(client.payload.val().fantasyName)"><mat-icon>control_point</mat-icon></a><span>Ver cobros al cliente</span></td>
        <td><a style="margin-left:10px;" mat-icon-button routerLink="/orders/orders" (click) ="searchOrders(client.payload.val().fantasyName)"><mat-icon>control_point</mat-icon></a><span style="margin-right:10px;">Ver pedidos del cliente</span></td>
      </tr>
    </table>
  </div>
</div>


