<!-- <div *ngIf="loading" class="SCContainer ml-5 ms-5 spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div> -->
<div class="SCContainer ms-1">
  <div><h1 style="display: inline; margin:10px;">ADMINISTRAR CLIENTES</h1></div>
  <hr>
  <div [ngClass]="{'row': !this.utilityService.isMobile()}">
    <!-- <div *ngIf="appUser.isAdmin" [ngClass]="{'col-5': !this.utilityService.isMobile(), 'col-12': this.utilityService.isMobile()}"> -->
      <div [ngClass]="{'col-5': !this.utilityService.isMobile(), 'col-12': this.utilityService.isMobile()}">
      <p>
        <a mat-raised-button color="accent" routerLink="/admin/clients/new">Nuevo Cliente</a>
        <button class="m-1" mat-raised-button (click)="hideTable()" color="primary" >Mostrar/Ocultar clientes en mora</button>
      </p>
    </div>
    <div [ngClass]="{'col-7': !this.utilityService.isMobile()}">
      <div class="row">
      <div *ngIf="showClientsInDebt" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" style="margin-left:40px;">
        <div style="display: inline; margin:10px;">CLIENTES EN MORA: &nbsp;&nbsp;
          <span *ngIf="clientsInDebt" matBadge="{{clientsInDebt.length}}" matBadgeSize="large"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-8">
          <table class="table table-striped table-sm mat-elevation-z8">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Vendedor</th>
                <!-- <th>Monto Pedidos en Deuda</th> -->
                <th>Deuda Neta</th>
                <th>Último Pago</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of this.clientsInDebt; let i = index">
                <td>{{client.payload.val().fantasyName}}</td>
                <td>{{client.payload.val().designatedSeller}}</td>
                <!-- <td>{{client.ordersDebt | number:'1.1-1'}}</td> -->
                <td>{{client.debt | number:'1.1-1'}}</td>
                <td>{{client.paymentDate | date:"dd/MM/yyyy"}}&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>



  <!-- ----------------------------- -->
  <div class="row">
    <div [ngClass]="{'col-5': !this.utilityService.isMobile(), 'col-4': this.utilityService.isMobile()}"><h1 style="display: inline; margin:10px;">CLIENTES</h1></div>
    <div [ngClass]="{'col-1': !this.utilityService.isMobile(), 'col-2': this.utilityService.isMobile()}"><button mat-icon-button (click)="this.printService.exportClients(this.clients)" color="primary" >Descargar Listado&nbsp;&nbsp;<mat-icon>picture_as_pdf</mat-icon></button></div>
  </div>

  <hr>
  <h3>*IMPORTANTE: si la deuda es negativa el cliente tiene saldo a favor</h3>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" style="margin:10px">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div><mat-icon matSuffix>search</mat-icon></div>
      <div fxLayout="row">
        <div><input class="border-end-0 border rounded-pill" [(ngModel)]="clientValue" #query (ngModelChange)="filter(query.value)" (keyup)="filter(query.value)" type="text" placeholder="   Nombre de Fantasía..."></div>
      </div>
      <div fxLayout="row" *ngIf="appUser && (appUser.isAdmin || appUser.isSalesManager)">
        <div><input class="border-end-0 border rounded-pill" [(ngModel)]="sellerValue" #sellerquery (keyup)="filterBySeller(sellerquery.value)" type="text" placeholder="   Vendedor..."></div>
      </div>
    </div>
  </div>

  <table class="table table-striped table-sm mat-elevation-z8" matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="businessName">Razón social</th>
        <th mat-sort-header="fantasyName">Nombre de Fantasía</th>
        <th mat-sort-header="seller">Vendedor</th>
        <th mat-sort-header="cuit">CUIT</th>
        <th mat-sort-header="address">Dirección</th>
        <th mat-sort-header="phone">Teléfono</th>
        <th mat-sort-header="debt">Deuda*</th>
        <th mat-sort-header="resume">Estado de cuenta</th>
        <th mat-sort-header="edit">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of currentItemsToShow; let i = index">
        <td>{{client.payload.val().businessName}}&nbsp;&nbsp;&nbsp;</td>
        <td>{{client.payload.val().fantasyName}}</td>
        <td>{{client.payload.val().designatedSeller}}</td>
        <td>{{client.payload.val().cuit}}</td>
        <td>{{client.payload.val().address}}</td>
        <td>{{client.payload.val().phone}}&nbsp;&nbsp;</td>
        <td>{{this.ordersService.calcDebt(client.payload.val().fantasyName) | number:'1.1-1'}}</td>
        <td><button mat-icon-button (click)="this.printService.exportResume(client.payload.val())" color="primary" ><mat-icon>picture_as_pdf</mat-icon></button></td>
        <td><a (click)="savePagination()" [routerLink]="['/admin/clients', client.key]">Editar</a></td>
        <td><a style="margin-left:10px;" mat-icon-button routerLink="/payments/payments" (click) ="searchPayments(client.payload.val().fantasyName)"><mat-icon>control_point</mat-icon></a><span>Ver cobros al cliente</span></td>
        <td><a style="margin-left:10px;" mat-icon-button routerLink="/orders/orders" (click) ="searchOrders(client.payload.val().fantasyName)"><mat-icon>control_point</mat-icon></a><span style="margin-right:10px;">Ver pedidos del cliente</span></td>
      </tr>
    </tbody>
  </table>
  <mat-paginator *ngIf="this.filteredClients" [length]="this.filteredClients.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" (page)="onPageChange($event)"></mat-paginator>
 </div>
