<div class="SCContainer">
  <h3 *ngIf="catNull">No se encontró la categoría del cliente, intente nuevamente</h3>
  <div *ngIf="!catNull">
    <div class="row">
      <div class="col-3 ms-3"><h1>PEDIDO</h1></div>
      <div class="col ms-1 d-lg-none"><mat-icon class="cart">shopping_cart</mat-icon></div>
    </div>
    <hr>
    <div [hidden]="showOrder" id='productsList'>
      <form>
        <mat-form-field class="example-full-width me-1" appearance="fill">
          <mat-label>Cliente</mat-label>
          <input type="text" placeholder="Elija uno" aria-label="Number" matInput
            [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="fantasyName">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of this.filteredOptions | async" [value]="client.payload.val().fantasyName">
              {{client.payload.val().fantasyName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field *ngIf='appUser?.isAdmin' appearance="fill" class="example-full-width ">
          <mat-label>Ingrese la fecha</mat-label>
          <input matInput [(ngModel)]="date" [matDatepicker]="picker" name="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- <button *ngIf='!this.clientCategory' class="left-btn ms-2" (click)="pickClient()" mat-raised-button color="basic">Siguiente</button> -->
      </form>

      <div *ngIf='this.clientCategory'>
        <product-filter></product-filter>
        <div class="row mt-5 mt-sm-3">
          <div class="col-4 col-sm-3 mt-3 col-lg-3">
            <div class="input-group">
              <div>
                <mat-icon matSuffix>search</mat-icon>
              </div>
              <div><input matInput class="border-end-0 border rounded-pill" #prodQuery (keyup)="filter(prodQuery.value)" type="text" placeholder="   Buscar producto..."></div>
            </div>
          </div>

          <div class="col-8 col-sm-4 col-lg-3">
            <div class="row mt-2">
              <div class="col col-sm-6 col-lg-5">
                <button class="left-btn ms-2" (click)="beforeShowOrder()" mat-raised-button color="basic">Crear Pedido</button>
              </div>
              <div class="col">
                <button class="left-btn ms-lg-4" (click)="reset()" mat-raised-button color="warn">Anular </button>
              </div>
            </div>
          </div>
          <div class="col mt-3 mt-sm-0">
            <div class="row mt-2">
              <div class="mt-1 col-2 col-sm-2 col-lg-1">
                <label id="example-radio-group-label"><b>IVA:</b></label>
              </div>
              <div class="col">
                <mat-radio-group *ngIf="this.clientCategory!='Gimnasio' && this.clientCategory!='Kiosko'" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="this.iva">
                  <mat-radio-button style="margin:5px" class="example-radio-button" *ngFor="let iva of ivas" [value]="iva">
                    {{iva}}%
                  </mat-radio-button>
                </mat-radio-group>
              </div>

            </div>

            <span *ngIf="this.clientCategory =='Gimnasio' || this.clientCategory =='Kiosko'">&nbsp;&nbsp;&nbsp;&nbsp;*Gimnasios y Kiosko 0%</span>
            <span *ngIf="!client">&nbsp;&nbsp;&nbsp;&nbsp;*Especifique el cliente para operar</span>
            <span *ngIf="orderEmpty">&nbsp;&nbsp;&nbsp;&nbsp;*Haga el pedido</span>
            <span *ngIf="noStock">&nbsp;&nbsp;&nbsp;&nbsp;*No hay stock suficiente de al menos uno de los productos seleccionados</span>
          </div>
        </div>
      </div>

      <div class="my-3">
        <span *ngIf='!this.clientCategory'>----------PRIMERO SELECCIONE EL CLIENTE PARA COMENZAR A OPERAR----------</span>
      </div>
      <hr>
      <table *ngIf='this.clientCategory' matSort (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="title">Producto</th>
          <th id="quantity" mat-sort-header="quantity">Cantidad</th>
          <th mat-sort-header="stock">Stock</th>
          <th mat-sort-header="unitPrice">Precio unitario {{this.clientCategory}}&nbsp;s/iva</th>
          <th mat-sort-header="totalPriceProduct">Subtotal</th>
          <th mat-sort-header="quit">&nbsp;&nbsp;&nbsp;Quitar</th>
          <th mat-sort-header="add">&nbsp;Agregar</th>
          <th mat-sort-header="discount">&nbsp;Descuento(%)</th>
        </tr>

        <tr *ngFor="let p of currentItemsToShow; let i = index">
          <td>{{p.product.title}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>{{p.quantity}}</td>
          <td>{{getStock(p)}}</td>
          <td>${{p.discountPrice | number : '1.1-1'}}</td>
          <td>${{p.discountPrice*p.quantity | number:'1.1-1'}}</td>
          <td><button class="left-btn" (click)="updateOrderItemQuantity(p, -1, i)" mat-raised-button color="basic">-</button></td>
          <td><button class="left-btn" (click)="updateOrderItemQuantity(p, 1, i)" mat-raised-button color="basic">+</button></td>
          <td>
            <form id="form" (submit)="discount($event, p, +disc.value)">
                <input type="number" #disc value={{p.value}}>
                <button *ngIf="this.order.length > this.orderIndex && p.discount==0" type="submit">Aplicar</button>
                <button *ngIf="this.order.length > this.orderIndex && p.discount!=0" (click)="discount($event, p, 0)">Anular</button>
                <span *ngIf="this.order.length > this.orderIndex && p.discount!=0">&nbsp;&nbsp;Descuento: {{p.discount}}%</span>
            </form>
          </td>
        </tr>
        <tr>
          <th mat-sort-header="total">UNIDADES TOTALES</th>
          <th mat-sort-header="showTotalQuantity">{{this.quantity}}&nbsp; Unidades</th>
          <th mat-sort-header="totalPrice">IMPORTE TOTAL(incluye el IVA)</th>
          <th mat-sort-header="showTotal">${{this.ordersService.getTotalAmount(this.orderProducts)*(1+this.iva/100) | number:'1.1-1'}}</th>
        </tr>
      </table>
      <div *ngIf='this.clientCategory' class="ms-3">
        <button class="left-btn" (click)="beforeShowOrder()" mat-raised-button color="basic">Crear Pedido</button>
        <button class="left-btn" (click)="reset()" mat-raised-button color="warn">Anular </button>

        <span *ngIf="!client">&nbsp;&nbsp;&nbsp;&nbsp;*Especifique el cliente</span>
        <span *ngIf="orderEmpty">&nbsp;&nbsp;&nbsp;&nbsp;*Haga el pedido</span>
        <span *ngIf="noStock">&nbsp;&nbsp;&nbsp;&nbsp;*No hay stock suficiente de al menos uno de los productos seleccionados</span>
        <span *ngIf="this.clientCategory=='Gimnasio' || this.clientCategory=='Kiosko'">&nbsp;&nbsp;&nbsp;&nbsp;*Gimnasios y Kioskos 0% IVA</span>

        <nav class="mb-3 mt-3" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link">Página actual <strong>{{actualPage + 1}}</strong></a></li>
            <li class="page-item disabled me-1"><a class="page-link">Total <strong>{{totalPages}}</strong></a></li>
            <li *ngIf="actualPage > 0" class="page-item"><a class="page-link" (click)="prevPage()"><< Anterior</a></li>
            <li *ngIf="actualPage < totalPages -1" class="page-item"><a class="page-link" (click)="nextPage()">Próxima >></a></li>
            <li class="page-item ms-3" [ngClass]="{'disabled': itemsPerPage == 10}"><a class="page-link" (click)="this.itemsPerPage=10;this.actualPage =0;refreshPages()">10 por página</a></li>
            <li class="page-item" [ngClass]="{'disabled': itemsPerPage == 20}"><a class="page-link" (click)="this.itemsPerPage=20;this.actualPage =0;refreshPages()">20 por página</a></li>
          </ul>
        </nav>
      </div>
      <br>
    </div>

    <div *ngIf="showOrder" id='productsList' class="row">
      <div>
        <button *ngIf="this.ordersService.clients" class="left-btn" (click)="createOrder()" mat-raised-button color="basic">Crear Pedido</button>
        <button class="left-btn" (click)="this.showOrder= !this.showOrder;" mat-raised-button color="warn">Volver </button>
        <br>
        <br>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
        <tr *ngFor="let p of orderProducts; let i = index">
          <td *ngIf="p.quantity!=0">{{p.product.title}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td *ngIf="p.quantity!=0">{{p.quantity}}</td>
        </tr>
        <br>
        <br>
        <button *ngIf="orderProductsLength() > 10 && this.ordersService.clients" class="left-btn" (click)="createOrder()" mat-raised-button color="basic">Crear Pedido</button>
        <button *ngIf="orderProductsLength() > 10" class="left-btn" (click)="this.showOrder= !this.showOrder;" mat-raised-button color="warn">Volver </button>
      </div>
    </div>
  </div>

</div>
