<div class="SCContainer ms-1" *ngIf="appUser && (!debtWarning || appUser.isAdmin); else elseBlock">
  <div class="row">
    <div class="col-6 col-md-4 my-2"><h1>PEDIDOS</h1></div>
    <div class="col-6 col-md-4 my-1">
      <a mat-icon-button routerLink="/orders/order"><mat-icon>control_point</mat-icon><span>Crear Pedido</span></a>
    </div>
    <div  *ngIf="ordersNotAproved > 0" class="col my-2">
      <div>PEDIDOS RECIENTES SIN APROBAR: &nbsp;&nbsp;&nbsp;&nbsp;
        <span matBadge="{{this.ordersNotAproved}}" matBadgeSize="large"></span>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div *ngIf="ordersNotAproved > 0" class="row">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Detalle
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table table-striped table-sm mat-elevation-z8">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Vendedor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of notAprovedOrders; let i = index">
                <td>{{order.date | date:"dd/MM/yyyy HH:mm"}}&nbsp;&nbsp;</td>
                <td><a (click)="toggleAccordion(order)" routerLink="/orders/orders">{{order.fantasyName}}&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                <td>{{order.seller}}</td>
              </tr>
            </tbody>
          </table>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="row">
      <div class="col-6 col-md-4 my-1">
        <div class="input-group">
          <div>
            <mat-icon matSuffix>search</mat-icon>
          </div>
          <input class="border-end-0 border rounded-pill" [(ngModel)]="clientValue" #query (ngModelChange)="filter(query.value)" (keyup)="filter(query.value)" type="text" placeholder="   Nombre de Fantasía...">
        </div>
      </div>
      <div class="col-6 col-md-4 my-1">
        <div class="input-group">
          <div>
            <mat-icon matSuffix>search</mat-icon>
          </div>
          <input class="border-end-0 border rounded-pill" [(ngModel)]="sellerValue" #sellerquery (keyup)="filterBySeller(sellerquery.value)" type="text" placeholder="   Vendedor...">
        </div>
      </div>
      <div class="col-6 col-md-4 my-1">
        <div class="input-group">
          <div>
            <mat-icon matSuffix>search</mat-icon>
          </div>
          <input class="border-end-0 border rounded-pill" [(ngModel)]="dateValue" #Datequery (keyup)="filterByDate(Datequery.value)" type="text" placeholder="   Fecha...">
        </div>
      </div>
    </div>

    <div class="row m-3">
      <form #f="ngForm" (ngSubmit)="searchDateRange(range.value)">
        <mat-form-field appearance="fill">
          <mat-label>Ingrese un rango de fechas</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="fecha inicio">
            <input matEndDate formControlName="end" placeholder="fecha finalización">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" >buscar por rango</button>
        <button #query mat-raised-button color="accent" (click)="clearRange()">borrar búsqueda</button>
      </form>
    </div>
  </div>

<div class="table-responsive">
  <table class="table table-striped table-sm mat-elevation-z8">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th *ngIf="!isExpanded">Fecha</th>
        <th *ngIf="!isExpanded">Monto c/IVA</th>
        <th *ngIf="!isExpanded">¿aprobado?</th>
        <th *ngIf="!isExpanded">IVA</th>
        <th *ngIf="!isExpanded">Pagado</th>
        <th *ngIf="!isExpanded">Desc?</th>
        <th *ngIf="!isExpanded">Deudor?</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of currentItemsToShow; let i = index" >
        <td>{{order.payload.val().fantasyName}}&nbsp;&nbsp;</td>
        <td>{{order.payload.val().seller}}&nbsp;&nbsp;</td>
        <td>{{order.payload.val().date | date:"dd/MM/yyyy HH:mm"}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{order.payload.val().amountWithIva | number:'1.1-1'}}&nbsp;&nbsp;</td>
        <!-- <td *ngIf="!isExpanded"><span *ngIf="order.payload.val().aproved">SI</span><span *ngIf="!order.payload.val().aproved">NO</span>&nbsp;&nbsp;<button [disabled]="order.payload.val().aproved" (click)="aprove(order)" *ngIf="appUser!=undefined && appUser.isAdmin">aprobar</button></td> -->
        <td>{{order.payload.val().aproved ? "SI" : "NO"}}&nbsp;&nbsp;<button [disabled]="order.payload.val().aproved" (click)="aprove(order)" *ngIf="appUser!=undefined && appUser.isAdmin">aprobar</button></td>
        <td>%{{order.payload.val().iva}}&nbsp;&nbsp;</td>
        <td>{{order.payload.val().fullPaymentDate ? (order.payload.val().fullPaymentDate | date:"dd/MM/yyyy") : "NO"}}&nbsp;&nbsp;</td>
        <td>{{order.payload.val().hasDiscount ? "SI" : "NO"}}&nbsp;&nbsp;</td>
        <td>{{order.payload.val().clientInDebt ? "SI" : "NO"}}&nbsp;&nbsp;</td>
        <td>
          <mat-accordion>
            <mat-expansion-panel hideToggle (opened)="expandOrderDetail(order, i)" (closed)="isExpanded = false"  [expanded]="openAccordion === i">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Detalle
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table *ngIf="orderDetail" class="table table-striped table-sm mat-elevation-z8">
                <tr>
                  <th>Unid</th>
                  <th>Producto</th>
                  <th>Importe/unid</th>
                  <th>Importe</th>
                  <th>Desc</th>
                </tr>
                <tr *ngFor="let prod of orderDetail.products">
                  <td>{{prod.quantity}}</td>
                  <td>{{prod.title}}</td>
                  <td>${{ prod.discountPrice | number:'1.1-1'}}</td>
                  <td>${{ prod.quantity * prod.discountPrice | number:'1.1-1'}}&nbsp;&nbsp;</td>
                  <td>{{ prod.discount ? "%" + prod.discount: "-" }}</td>
                </tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
        <td *ngIf="this.ordersService.clients"><button [disabled]="!order.payload.val().aproved" mat-icon-button (click)="exportAsPDF(order)" color="primary" ><mat-icon>picture_as_pdf</mat-icon></button></td>
        <td *ngIf ="appUser.isAdmin"><button mat-icon-button (click)="remove(order)" color="accent" ><mat-icon>delete</mat-icon></button></td>
      </tr>
      <tr>
        <th>TOTAL</th>
        <th>${{getTotal() | number:'1.1-1'}}</th>
      </tr>
    </tbody>
  </table>
</div>

  <button *ngIf="currentItemsToShow" mat-raised-button (click)="downloadAll(currentItemsToShow)" color="primary" >Descargar todos <mat-icon>picture_as_pdf</mat-icon></button>
  <mat-paginator *ngIf="this.filteredOrders" (page)="onPageChange($event)" [length]="this.filteredOrders.length" [pageSize]="10" [pageSizeOptions]="[10, 20]"></mat-paginator>

</div>
<ng-template #elseBlock>
  <div class="SCContainer">
    <h2>Estimado vendedor: los siguientes clientes tienen deuda. Por favor regularice la situación.</h2>
    <table class="table table-striped table-sm mat-elevation-z8">
      <tr>
        <th>Cliente</th>
        <th>Fecha del pedido en deuda</th>
        <th>Monto del pedido</th>
      </tr>
      <tr *ngFor="let client of debtors">
        <td>{{client.debtorName}}</td>
        <td>{{client.orderDate}}</td>
        <td class="text-danger">{{client.orderDebt}}</td>
      </tr>
    </table>
    <button mat-raised-button style="margin:20px" (click)="debtWarning=!debtWarning" color="primary" >Aceptar</button>
  </div>
</ng-template>
