<div fxLayout.sm="column" class="pedidoContainer">
    <div>
      <product-filter></product-filter>
    </div>

    <div  id='productsList' class="container-grid-pedido">
      <h1>Pedido</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cliente</mat-label>
          <input type="text" placeholder="Elija uno" aria-label="Number" matInput
            [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="clientFantasyName" (ngModelChange)="updatePrices()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of this.filteredOptions | async" [value]="client.payload.val().fantasyName">
              {{client.payload.val().fantasyName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <table matSort (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="title">Producto</th>
          <th id="quantity" mat-sort-header="quantity">Cantidad</th>
          <th mat-sort-header="unitPrice">Precio unitario {{getClientCategory()}}</th>
          <th mat-sort-header="totalPriceProduct">Subtotal</th>
          <th mat-sort-header="quit">&nbsp;&nbsp;&nbsp;Quitar</th>
          <th mat-sort-header="add">&nbsp;Agregar</th>
          <th mat-sort-header="discount">&nbsp;Descuento(%)</th>
        </tr>

        <tr *ngFor="let p of filteredPedido; let i = index">
          <td>{{p.product.title}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>{{p.quantity}}</td>
          <td>${{p.discountPrice | number : '1.1-1'}}</td>
          <td>${{p.discountPrice*p.quantity | number:'1.1-1'}}</td>
          <td><button class="left-btn" (click)="updatePedidoItemQuantity(this.pedido, p, -1)" mat-raised-button color="basic">-</button></td>
          <td><button class="left-btn" (click)="updatePedidoItemQuantity(this.pedido, p, 1)" mat-raised-button color="basic">+</button></td>
          <td>
            <form role="form" (submit)="discount($event, p, +disc.value)">
                <input type="number" #disc value={{p.value}}>
                <button *ngIf="pedido[0].payload.val().products[i].discount==0" type="submit">Aplicar</button>
                <button *ngIf="pedido[0].payload.val().products[i].discount!=0" (click)="discount($event, p, 0)">Anular</button>
                <span *ngIf="pedido[0].payload.val().products[i].discount!=0">&nbsp;&nbsp;Descuento: {{pedido[0].payload.val().products[i].discount}}%</span>
            </form>

          </td>
        </tr>
        <tr>
  <!----> <th mat-sort-header="total">UNIDADES TOTALES</th>
          <th mat-sort-header="showTotalQuantity">{{getTotalUnits()}}&nbsp; Unidades</th>
          <th mat-sort-header="totalPrice">IMPORTE TOTAL</th>
          <th mat-sort-header="showTotal">${{getTotal() | number:'1.1-1'}}</th>
        </tr>
      </table>
      <button class="left-btn" (click)="sendPedido()" mat-raised-button color="basic">Enviar Pedido</button>
      <button class="left-btn" (click)="reset()" mat-raised-button color="warn">Anular </button>
      <span *ngIf="!client">&nbsp;&nbsp;&nbsp;&nbsp;*Especifique el cliente</span>
      <span *ngIf="pedidoEmpty">&nbsp;&nbsp;&nbsp;&nbsp;*Haga el pedido</span>
      <span *ngIf="getClientCategory()=='Gimnasio'">&nbsp;&nbsp;&nbsp;&nbsp;*Gimnasios 21% IVA</span>

    </div>
</div>


