<div class="SCContainer">
  <h1>Pedidos</h1>

  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="NroPedido">Nro. Pedido</th>
      <th mat-sort-header="date">Fecha</th>
      <th mat-sort-header="import">Importe</th>
    </tr>


      <tr *ngFor="let pedido of this.pedidos; let i = index">

        <td *ngIf="pedido.payload.val().pedidoItemCount">{{i + 1}}&nbsp;&nbsp;</td>
        <td *ngIf="pedido.payload.val().pedidoItemCount">{{pedido.payload.val().creationDate | date:"dd/MM/yyyy HH:mm"}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td *ngIf="pedido.payload.val().pedidoItemCount">${{this.pedidosService.getTotalCost(pedido)}}</td>
        <mat-accordion *ngIf="pedido.payload.val().pedidoItemCount">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Detalle
              </mat-panel-title>
            </mat-expansion-panel-header>
            <tr>
              <th mat-sort-header="prodQuantity;{{i}}">Cantidad</th>
              <th mat-sort-header="prodTitle;{{i}}">Producto</th>
              <th mat-sort-header="unitPrice;{{i}}">Importe/unidad</th>
              <th mat-sort-header="Price;{{i}}">Importe</th>
            </tr>
            <tr *ngFor="let item of pedido.payload.val().items; let i = index">
              <td>{{item.quantity}}&nbsp;&nbsp;</td>
              <td>{{item.title}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>${{item.price}}</td>
              <td>${{item.price * item.quantity}}</td>
            </tr>
          </mat-expansion-panel>
        </mat-accordion>
    </tr>

    <tr>
      <th mat-sort-header="total">TOTAL</th>
      <th mat-sort-header="showTotal">${{getTotal()}}</th>
    </tr>

  </table>


</div>




