<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span *ngIf="appUser" class="menu-title">{{appUser?.name}}</span>
</mat-toolbar>

<mat-sidenav-container class="menu-container">
  <mat-sidenav #sidenav class="menu-sidenav" [mode]="'over'" [opened]="isMenuOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/" *ngIf="!appUser" (click)="isMenuOpen=false">Login</a>
      <a mat-list-item routerLink="orders/orders" *ngIf="appUser" (click)="isMenuOpen=false">Pedidos</a>
      <a mat-list-item routerLink="payments/payments" *ngIf="appUser" (click)="isMenuOpen=false">Cobros</a>
      <a mat-list-item routerLink="client/client" *ngIf="appUser && !appUser?.isAdmin" (click)="isMenuOpen=false">Clientes</a>
      <a mat-list-item routerLink="stock/stock" *ngIf="appUser?.isAdmin" (click)="isMenuOpen=false">Stock</a>
      <a mat-list-item routerLink="admin/clients" *ngIf="appUser?.isAdmin" (click)="isMenuOpen=false">Clientes</a>
      <a mat-list-item routerLink="admin/prods" *ngIf="appUser?.isAdmin" (click)="isMenuOpen=false">Productos</a>
      <a mat-list-item routerLink="admin/sellers" *ngIf="appUser?.isAdmin" (click)="isMenuOpen=false">Vendedores</a>
      <a mat-list-item routerLink="dashboard" *ngIf="appUser?.isAdmin" (click)="isMenuOpen=false">Gráficos</a>
      <a mat-list-item *ngIf="appUser" (click)="logout(); isMenuOpen=false">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="custom-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
