<div class="container-grid">
  <div style="margin-left:10px;margin-bottom:30px;margin-top:-20px;">
    <h1>Nueva Compra</h1>
  </div>
  <!-- <div style="margin:20px;">
    <product-filter></product-filter>
  </div> -->

  <div style="margin-left:10px;">
    <button class="left-btn" (click)="sendBuy()" mat-raised-button color="basic" routerLink="/stock/stock">Cargar compra</button>
    <button class="left-btn" (click)="reset()" mat-raised-button color="warn">Anular </button>
  </div>
  <div style="margin:20px;">
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="title">Producto</th>
        <th mat-sort-header="quantity">Cantidad</th>
        <th mat-sort-header="stock">Stock actual</th>
      </tr>

      <tr *ngFor="let p of filteredBuy">
        <td style="max-width: 280px;">{{p.product.title}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input #amount="ngModel" matInput [(ngModel)]="p.quantity" name="amount" placeholder="{{p.quantity}}" (blur)="setBuyItemQuantity(this.buy, p, p.quantity)"></td>
        <td>{{getQuantityOfP(p)}}</td>
        <button class="left-btn" (click)="updateBuyItemQuantity(this.buy, p, -1)" mat-raised-button color="basic">-</button>
        <button class="left-btn" (click)="updateBuyItemQuantity(this.buy, p, 1)" mat-raised-button color="basic">+</button>
      </tr>
    </table>
  </div>


  <div style="margin-left:10px;">
    <button class="left-btn" (click)="sendBuy()" mat-raised-button color="basic" routerLink="/stock/stock">Cargar compra</button>
    <button class="left-btn" (click)="reset()" mat-raised-button color="warn">Anular </button>
  </div>


</div>


