<!--
  <mat-list >
    <div>
      <a mat-raised-button routerLink="./" routerLinkActive="mat-primary">Todas las categorias</a>
    </div>
    <div>
      <mat-list-item *ngFor="let c of prodsCategories | async">
        <a mat-raised-button routerLink="./" [queryParams]="{prodsCategory: c.key}" color="basic" routerLinkActive="mat-accent">{{c.key}}</a>
      </mat-list-item>
    </div>
  </mat-list> -->

<div>
  <div>
    <a class="m-1" mat-raised-button routerLink="./" routerLinkActive="mat-primary">Todas las categorias</a>
    <a class="m-1" *ngFor="let c of prodsCategories" mat-raised-button routerLink="./"
    [queryParams]="{prodsCategory: c.payload.val().name}" color="basic"
    routerLinkActive="mat-accent">{{c.payload.val().name}}</a>
  </div>
</div>

