<div>
  <!-- <div *ngIf="loading" class="SCContainer mt-5 ms-5 spinner-border text-primary" role="status">
    <span class="visually-hidden"></span>
  </div> -->
  <p></p>
  <div class="image-container">
    <img *ngIf="utilityService.navBarLoading && appUser" src="../../assets/intro.png" [ngClass]="{ 'move-animation': true }">
    <img *ngIf="!utilityService.navBarLoading && !appUser" src="../../assets/intro2.png">
    <img *ngIf="utilityService.navBarLoading && !appUser" src="../../assets/loguear.png">
    <img *ngIf="!utilityService.navBarLoading && appUser" src="../../assets/otra.png">
  </div>
</div>
