<div fxLayout="column" fxLayoutAlign="space-between" class="container-edit">
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="start center">
    <div fxFlex="27">
      <a mat-raised-button color="accent" routerLink="/admin/products/new">Nuevo Producto</a>
    </div>

    <div fxLayout="row">
      <div><mat-icon matSuffix>search</mat-icon></div>
      <div> <input matInput #query (keyup)="filter(query.value)" type="text" placeholder="Buscar producto..."></div>
    </div>
  </div>

  <div fxLayout="column" class="admin-prod-recharge">
    <div>
      <span><b><u>Remarcación de precios:</u></b></span>
    </div>
    <div>
      <form #f="ngForm"  (ngSubmit)="save(f.value)">
        <p *ngIf="this.recharges">
          <mat-form-field appearance="legacy">
            <input #dist="ngModel" matInput [(ngModel)]="rechargeDelForm.dist" name="dist" placeholder="distribuidor: {{this.recharges[0].payload.val().distRecharge}}%" required>
            <div class="alert alert-danger" *ngIf="this.recharges && dist.touched && dist.invalid">campo obligatorio</div>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <input #com="ngModel" matInput [(ngModel)]="rechargeDelForm.com" name="com" placeholder="comercio: {{this.recharges[0].payload.val().comRecharge}}%" required>
            <div class="alert alert-danger" *ngIf="com.touched && com.invalid">campo obligatorio</div>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <input #gym="ngModel" matInput [(ngModel)]="rechargeDelForm.gym" name="gym" placeholder="gimnasio: {{this.recharges[0].payload.val().gymRecharge}}%" required>
            <div class="alert alert-danger" *ngIf="gym.touched && gym.invalid">campo obligatorio</div>
          </mat-form-field>
        <button mat-raised-button type="submit" color="primary" >Aplicar</button>
        <span *ngIf="this.recharged">&nbsp;&nbsp;Aplicando</span>
      </p>
      </form>
    </div>

  </div>

  <div id="prodTable">
    <table mat-table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

          <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title"><h2>Producto</h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().title}} &nbsp;&nbsp;</td>
      </ng-container>

      <!-- precio compra  -->
      <ng-container *ngIf="mobile == false" matColumnDef="buyPrice" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header="buyPrice"><h2> P. Compra </h2></th>
        <td mat-cell *matCellDef="let p">${{p.payload.val().buyPrice | number:'1.1-1' }} &nbsp;&nbsp;</td>
      </ng-container>
      <ng-container matColumnDef="discPrice1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="discPrice1"><h2> P. Dist </h2></th>
        <td mat-cell *matCellDef="let p"> ${{p.payload.val().discPrice1 | number:'1.1-1'}} &nbsp;&nbsp;</td> <!--matBadge="{{p.payload.val().disc1}}"-->
      </ng-container>
        <!-- disc1 Column -->
        <ng-container matColumnDef="disc1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="disc1"><h2>Desc.</h2></th>
          <td mat-cell *matCellDef="let p">
            <div fxLayout="row">
              <input id="disc" type="number" placeholder="{{p.payload.val().disc1}}%" #disc1 value={{this.disc1}}><button id="discButton" (click)="applyDiscount(p, 'price1', disc1.valueAsNumber)">Ok</button>
            </div>
          </td>
        </ng-container>
      <ng-container matColumnDef="discPrice2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="discPrice2"><h2> P. Com </h2></th>
        <td mat-cell *matCellDef="let p">${{p.payload.val().discPrice2 | number:'1.1-1'}} &nbsp;&nbsp;</td>
      </ng-container>
      <!-- disc2 Column -->
      <ng-container matColumnDef="disc2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="disc2"><h2>Desc.</h2></th>
        <td mat-cell *matCellDef="let p">
          <div fxLayout="row">
            <input id="disc" type="number" placeholder="{{p.payload.val().disc2}}%" #disc2 value={{this.disc2}}><button id="discButton" (click)="applyDiscount(p, 'price2', disc2.valueAsNumber)">Ok</button>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="discPrice3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="discPrice3"><h2> P. Gym </h2></th>
        <td mat-cell *matCellDef="let p" >$ {{p.payload.val().discPrice3 | number:'1.1-1'}} &nbsp;&nbsp;</td>
      </ng-container>
        <!-- disc3 Column -->
        <ng-container matColumnDef="disc3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="disc3"><h2>Desc.</h2></th>
          <td mat-cell *matCellDef="let p">
            <div fxLayout="row">
              <input id="disc" type="number" placeholder="{{p.payload.val().disc3}}%" #disc3 value={{this.disc3}}><button id="discButton" (click)="applyDiscount(p, 'price3', disc3.valueAsNumber)">Ok</button>
            </div>
          </td>
        </ng-container>
      <!-- Categoria
      <ng-container matColumnDef="prodCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="prodCategory"><h2> Categoria</h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().prodCategory}} &nbsp;&nbsp;</td>
      </ng-container>  -->

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="edit"></th>
          <td mat-cell *matCellDef="let p"><a [routerLink]="['/admin/products', p.key]">Edit</a></td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>



