<div class="container-edit">
  <p>
    <a mat-raised-button color="accent" routerLink="/admin/products/new">Nuevo Producto</a>
  </p>



  <div>
    <table><tr>
      <td>
        <mat-icon matSuffix>search</mat-icon>
      </td>
      <td>
        <input matInput #query (keyup)="filter(query.value)" type="text" placeholder="Buscar por nombre...">
      </td>
      <td>
        <form role="form" (submit)="reCharge()">
          <input type="number" #name value={{this.name}}>
          <button *ngIf="" type="submit">Aplicar</button>
          <span *ngIf="">&nbsp;&nbsp;Descuento:%</span>
        </form>
      </td>
    </tr>
  </table>
  </div>

    <table mat-table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

          <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title"><h2> Nombre del Producto </h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().title}} &nbsp;&nbsp;</td>
      </ng-container>

      <!-- Prices Columns -->
      <ng-container matColumnDef="buyPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="buyPrice"><h2> Precio de Compra </h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().buyPrice | currency:"ARS":"symbol"}} &nbsp;&nbsp;</td>
      </ng-container>
      <ng-container matColumnDef="price1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price1"><h2> Precio Distribuidor </h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().price1 | currency:"ARS":"symbol"}} &nbsp;&nbsp;</td>
      </ng-container>
      <ng-container matColumnDef="price2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price2"><h2> Precio Comercio </h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().price2 | currency:"ARS":"symbol"}} &nbsp;&nbsp;</td>
      </ng-container>
      <ng-container matColumnDef="price3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price3"><h2> Precio Gimnasio </h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().price3 | currency:"ARS":"symbol"}} &nbsp;&nbsp;</td>
      </ng-container>
      <!-- Categoria -->
      <ng-container matColumnDef="prodCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="prodCategory"><h2> Categoria</h2></th>
        <td mat-cell *matCellDef="let p"> {{p.payload.val().prodCategory}} &nbsp;&nbsp;</td>
      </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="edit"></th>
          <td mat-cell *matCellDef="let p"><a [routerLink]="['/admin/products', p.key]">Edit</a></td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
 </div>



