<div *ngIf="loading" class="SCContainer ml-5 ms-5 spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div>

<div *ngIf="this.commissions" class="SCContainer ml-3">

  <h1 style="display: inline; margin:10px;">COMISIONES</h1>
  <hr>
  <!-- <div *ngIf="!loading && appUser && appUser.isAdmin"></div> -->

  <div *ngIf="edit && commissions" fxLayout="row" fxLayout.xs="column">
    <form (ngSubmit)="send(myGroup.value)" [formGroup]="myGroup">
      <div>
        <input [formControlName]="'retailPercent'" required>
        <label class="m-1">% Minorista</label>
      </div>
      <div>
        <input [formControlName]="'wholesalerPercent'" required>
        <label class="m-1">% Mayorista</label>
      </div>
      <div>
        <input [formControlName]="'monthlyRate'" required>
        <label class="m-1">Tasa Mensual</label>
      </div>
      <div>
        <input [formControlName]="'minRetailTotalSales'" required>
        <label class="m-1">Mínima Facturación Total Minorista</label>
      </div>

      <div formArrayName="rewardsGoals">
        <div *ngFor="let rewardGoal of rewardsGoalsArray.controls; index as i">
          <input [formControlName]="i" required>
          <label class="m-1" for="">Meta en {{this.prodsCategories[i].payload.val().name}}</label>
        </div>
      </div>
      <div formArrayName="rewards">
        <div *ngFor="let reward of rewardsArray.controls; index as i">
          <input [formControlName]="i" required>
          <label class="m-1" for="">Premio en {{this.prodsCategories[i].payload.val().name}}</label>
        </div>
      </div>
      <button class="m-1" mat-raised-button type="submit" color="primary" >Guardar Premios</button>
      <button (click)="back()" mat-raised-button type="button" color="accent">Volver</button>
    </form>
  </div>

  <div *ngIf="!edit">
    <div class="row">
      <div class="col">
        <button  *ngIf="!loading && appUser && appUser.isAdmin" class="left-btn mb-3" (click)="this.edit = !this.edit" mat-raised-button color="primary">Editar comisiones y límites </button>
      </div>
      <div class="col">
        <button  *ngIf="!loading && appUser && (appUser.isAdmin || appUser.isSalesManager)" class="left-btn mb-3" (click)="this.router.navigate(['/commissions/commissions']);" mat-raised-button color="accent">Ver histórico comisiones </button>
      </div>
    </div>

    <h1 *ngIf="this.ordersService.orders && commissions" >Comisiones del mes en curso</h1>
    <table *ngIf="this.ordersService.orders && commissions" class="table table-striped table-sm mat-elevation-z8">
      <thead>
        <tr>
          <th>Vendedor</th>
          <th>Fact. Min.</th>
          <th>Com. Min. ({{this.commissions[0].payload.val().retailPercent*100}}%)</th>
          <th>Fact. May.</th>
          <th>Com. May. ({{this.commissions[0].payload.val().wholesalerPercent*100}}%)</th>
          <th>Premios</th>
          <th>Cobranza</th>
          <th>Comisión final</th>
          <th>Deuda en mora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seller of sellers">
          <td>{{seller.payload.val().name}}</td>
          <td>{{this.retailSalesPMonth(seller.payload.val().name, this.monthOrders)}}</td>
          <td>{{this.retailCommission(this.commissions[0].payload.val().retailPercent,
            this.retailSalesPMonth(seller.payload.val().name, this.monthOrders))}}</td>
          <td>{{this.wholesalerSalesPMonth(seller.payload.val().name, this.monthOrders)}}</td>
          <td>{{this.wholesalerCommission(this.commissions[0].payload.val().wholesalerPercent,
            this.wholesalerSalesPMonth(seller.payload.val().name, this.monthOrders), this.retailSalesPMonth(seller.payload.val().name, this.monthOrders))}}</td>
          <td>{{this.getProdCategoryRewards(seller.payload.val().name).totalRewards}}</td>
          <td>{{this.commissionsService.getSellerPenalty(this.commissions[0].payload.val().monthlyRate, seller.payload.val().name, this.ordersService.orders)}}</td>
          <td>{{this.retailCommission(this.commissions[0].payload.val().retailPercent,
            this.retailSalesPMonth(seller.payload.val().name, this.monthOrders)) + this.wholesalerCommission(this.commissions[0].payload.val().wholesalerPercent,
            this.wholesalerSalesPMonth(seller.payload.val().name, this.monthOrders), this.retailSalesPMonth(seller.payload.val().name, this.monthOrders))
             + this.getProdCategoryRewards(seller.payload.val().name).totalRewards - this.commissionsService.getSellerPenalty(this.commissions[0].payload.val().monthlyRate,
             seller.payload.val().name, this.ordersService.orders) | number:'1.1-1'}}  </td>
          <td>{{this.commissionsService.totalSellerDebtDelayed}}</td>
        </tr>
      </tbody>
    </table>

    <h1 >Premios</h1>

    <table *ngIf="this.ordersService.orders && this.commissions" class="table table-striped table-sm mat-elevation-z8">
      <thead>
        <tr>
          <th>Vendedor</th>
          <th *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">Fact {{reward}}</th>
          <th *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">Premio {{reward}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seller of sellers">
          <td>{{seller.payload.val().name}}</td>
          <td *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">{{this.prodCategorySales(this.monthOrders, reward, seller.payload.val().name)}}</td>
          <td *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">{{this.rewardCalc(i, reward, seller.payload.val().name, this.monthOrders)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="SCContainer ml-3" *ngIf="appUser && !appUser.isAdmin">
  <h1 >Mis Números</h1>
  <table *ngIf="this.ordersService.orders && this.commissions" class="table table-striped table-sm mat-elevation-z8">
    <thead>
      <tr>
        <th>Objetivo Minorista</th>
        <th>Fact. Minorista</th>
        <th>Com. Minorista ({{this.commissions[0].payload.val().retailPercent*100}}%)</th>
        <th>Fact. Mayorista</th>
        <th>Com. Mayorista ({{this.commissions[0].payload.val().wholesalerPercent*100}}%)</th>
        <th>Premios</th>
        <th>Cobranza</th>
        <th>Comisión final</th>
        <th>Deuda en mora</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.commissions[0].payload.val().minRetailTotalSales}}</td>
        <td>{{this.retailSalesPMonth(appUser.name, this.monthOrders)}}</td>
        <td>{{this.retailCommission(this.commissions[0].payload.val().retailPercent, this.retailSalesPMonth(appUser.name, this.monthOrders))}}</td>
        <td>{{this.wholesalerSalesPMonth(appUser.name, this.monthOrders)}}</td>
        <td>{{this.wholesalerCommission(this.commissions[0].payload.val().wholesalerPercent,
          this.wholesalerSalesPMonth(appUser.name, this.monthOrders), this.retailSalesPMonth(appUser.name, this.monthOrders))}}</td>
        <td>{{this.getProdCategoryRewards(appUser.name).totalRewards}}</td>
        <td>{{this.commissionsService.getSellerPenalty(this.commissions[0].payload.val().monthlyRate, appUser.name, this.ordersService.orders)}}</td>
        <td>{{this.retailCommission(this.commissions[0].payload.val().retailPercent,
          this.retailSalesPMonth(appUser.name, this.monthOrders)) + this.wholesalerCommission(this.commissions[0].payload.val().wholesalerPercent,
          this.wholesalerSalesPMonth(appUser.name, this.monthOrders), this.retailSalesPMonth(appUser.name, this.monthOrders))
           + this.getProdCategoryRewards(appUser.name).totalRewards -
           this.commissionsService.getSellerPenalty(this.commissions[0].payload.val().monthlyRate, appUser.name, this.ordersService.orders) | number:'1.1-1'}}  </td>
        <td>{{this.commissionsService.totalSellerDebtDelayed}}</td>
      </tr>
    </tbody>
  </table>
  <h1 >Mis Premios</h1>
  <table *ngIf="this.ordersService.orders && this.commissions" class="table table-striped table-sm mat-elevation-z8">
    <thead>
      <tr>
        <th *ngFor="let reward of this.commissions[0].payload.val().productsCategories">Objetivo {{reward}}</th>
        <th *ngFor="let reward of this.commissions[0].payload.val().productsCategories">Premio {{reward}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">{{this.commissions[0].payload.val().rewardsGoals[i]}}</td>
        <td *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">{{this.commissions[0].payload.val().rewards[i]}}</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th *ngFor="let reward of this.commissions[0].payload.val().productsCategories">Fact {{reward}}</th>
        <th *ngFor="let reward of this.commissions[0].payload.val().productsCategories">Monto Obtenido {{reward}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">{{this.prodCategorySales(this.monthOrders, reward, appUser.name)}}</td>
        <td *ngFor="let reward of this.commissions[0].payload.val().productsCategories; index as i">{{this.rewardCalc(i, reward, appUser.name, this.monthOrders)}}</td>
      </tr>
    </tbody>
  </table>
</div>

