<div class="SCContainer" *ngIf="appUser">
  <div><h1 style="display: inline; margin:10px;">STOCK</h1></div>
  <hr>
  <div fxLayout="row" style="margin-bottom:20px;margin-top:20px;margin-left:30px;">
    <div>
      <a *ngIf="appUser.isAdmin" mat-raised-button color="primary" routerLink="/stock/buy">Nueva compra</a>
      <a *ngIf="appUser.isAdmin" class="ms-2" mat-raised-button color="accent" routerLink="/buys">Ver compras</a>
    </div>
    <div fxLayout="row" style="margin-top:10px;margin-left:30px;">
      <div><mat-icon matSuffix>search</mat-icon></div>
      <div><input class="border-end-0 border rounded-pill" #query (keyup)="filter(query.value)" type="text" placeholder="   Buscar producto..."></div>
    </div>
  </div>

    <div style="margin-left:30px;">
      <mat-accordion *ngIf="alertProducts.length >0">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Faltantes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table table-striped table-sm mat-elevation-z8">
            <tbody>
              <tr *ngFor="let p of alertProducts">
                <td>
                  <span><b>Comprar: </b> {{p.title}},&nbsp;quedan <b>{{p.stock}} unidades</b></span>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div>&nbsp;</div>
    <div style="margin-top:10px;margin-left:30px;">
      <h2>Existencias:</h2>
      <table class="table table-striped table-sm mat-elevation-z8" matSort (matSortChange)="sortData($event)">
        <thead>
          <tr>
            <th mat-sort-header="title">Producto</th>
            <th mat-sort-header="quantity">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of filteredProducts">
            <td>{{p.payload.val().title}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{p.payload.val().stock}}</td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

