.table-wrapper {
  margin-left: +0px; /* Ajusta el margen izquierdo según tus necesidades */
}

.mat-cell {
  padding-left: -300px; /* Ajusta el padding izquierdo según tus necesidades */
  align-items: left;
}
.mat-header-cell {
  padding-left: 200px; /* Ajusta el padding izquierdo según tus necesidades */
}
