<div class="BsContainer" *ngIf="appUser">
  <div>
    <a mat-raised-button color="accent" routerLink="/stock/buy">Nueva Compra</a>
  </div>

  <div>
    <table><tr>
      <h2 style="display: inline;">Compras&nbsp;&nbsp;</h2>
      <td>
        <mat-icon matSuffix>search</mat-icon>
      </td>
      <td>
        <input [(ngModel)]="dateValue" matInput #Datequery (keyup)="filterByDate(Datequery.value)" type="text" placeholder="   fecha...">
      </td>
      <td>
        <form #f="ngForm" (ngSubmit)="searchDateRange(range.value)">
          <mat-form-field appearance="fill">
            <mat-label>Ingrese un rango de fechas</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="fecha inicio">
              <input matEndDate formControlName="end" placeholder="fecha finalización">

            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>

          <button mat-raised-button style="margin:5px;" type="submit" color="primary" >buscar por rango</button>
          <button #query mat-raised-button color="accent" (click)="clearRange()">borrar búsqueda</button>
        </form>
      </td>
    </tr></table>
  </div>



  <table matSort (matSortChange)="sortData($event)">
    <tr>

      <th mat-sort-header="date">Fecha</th>
      <th mat-sort-header="import">Importe</th>

    </tr>


      <tr *ngFor="let b of filteredBuys; let i = index" >

        <td *ngIf="b.payload.val().buyItemsCount !=0">{{b.payload.val().date | date:"dd/MM/yyyy HH:mm"}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td *ngIf="b.payload.val().buyItemsCount !=0">${{this.stockService.getTotalCost(b) | number:'1.1-1'}}</td>

         <mat-accordion *ngIf="b.payload.val().buyItemCount !=0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Detalle
                </mat-panel-title>
              </mat-expansion-panel-header>
              <tr>
                <th mat-sort-header="prodQuantity;{{i}}">Cantidad</th>
                <th mat-sort-header="prodTitle;{{i}}">Producto</th>
                <th mat-sort-header="itemPrice;{{i}}">Precio unitario</th>
                <th mat-sort-header="subTotalPrice;{{i}}">Subtotal</th>

              </tr>
              <tr *ngFor="let item of b.payload.val().buy; let i = index">
                <td *ngIf="item.quantity !=0">{{item.quantity}}&nbsp;&nbsp;</td>
                <td *ngIf="item.quantity !=0">{{item.title}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td *ngIf="item.quantity !=0">${{item.price | number:'1.1-1'}}</td>
                <td *ngIf="item.quantity !=0">${{item.price * item.quantity | number:'1.1-1'}}</td>
              </tr>
            </mat-expansion-panel>
          </mat-accordion>
    </tr>

    <tr>
      <th mat-sort-header="total">TOTAL</th>
      <th mat-sort-header="showTotal">${{getTotal()}}</th>
    </tr>

  </table>

</div>





